
:root {
  --background: #f9e7e7;
  --text: #412e50;
  --yellow: #FCF200;
}

body {

    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: var(--background); 
  
}

.container {

  margin: 20px;
  padding: 20px;

}

nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text);
  padding-bottom: 20px;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

nav a {

  text-decoration: none;
  color: var(--text);
  padding-left: 10px;
  padding-right: 10px;

}

nav a:hover {
  background-image: radial-gradient(#00fb9f, transparent);

}

nav a:focus {
  background-image: radial-gradient(#00fb9f, transparent);

}

.burger, .close{

  display: none;
}

header {
  margin: 0;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;

}

.header-background {

  background-image: radial-gradient(circle, yellow, transparent, transparent, transparent);
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: -1;
  left: 10%;

}

#hello {
  font-size: 2rem;
  padding-right: 200px;
  padding-bottom: 10px;
}

#description {
  font-size: 2rem;
  padding-left: 300px;
  padding-top: 20px;
}

#first-name {
  padding-right: 300px;
}

#description {
  font-size: 2rem;
  padding-left: 300px;
  padding-top: 20px;
}

h1 {

  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 7rem;
  padding-bottom: 5px;
  color: var(--text);

}

h2 {

  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 5rem;
  padding-bottom: 5px;
  color: var(--text);

}

h3 {

  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--text);


}

p {

  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 5px;
  color: var(--text);

}

p.category {
  font-size: 1.2rem;
  color: var(--text);
}

.portfolio-projects {

  display: flex;  
  flex-direction: row;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  
}

.category {
  font-size: 0.9rem;
}

#githubLink {
  text-decoration: none;
  color: #463D59;
  border: 0.5px solid #463D59;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#githubLink:hover{
  text-decoration: none;
  background-image: radial-gradient(#00fb9f, transparent);
  border: 0.5px solid #463D59;

}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;

}

.go-to-top {
  color: var(--text);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 20px;
  border: 0.5px solid var(--text);
  width: 10%;
  margin: 20px;
  padding: 10px;

}


footer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding-bottom: 20px;
  font-size: 2rem;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

footer a {

  text-decoration: none;
  color: var(--text);
  padding-left: 10px;
  padding-right: 10px;

}

footer a:hover {
  background-image: radial-gradient(#00fb9f, transparent);

}

footer a:focus {
  background-image: radial-gradient(#00fb9f, transparent);

}

/* about page */


.text-container {

display: flex;
flex-direction: row;
gap: 50px;
margin-top: 5%;
align-items: center;
justify-content: center;
  
}

.text-container h2 {
  padding-bottom: 30px;
  color: text;
}

.text-container p {
  padding-bottom: 30px;
  color: text;
}

.profile-image {
  border-radius: 4px;
}

.download-cv {

  background-color: var(--background);
  border: 0.5px solid var(--text);
  padding: 20px 20px;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 20px;

}

.download-cv:hover {

  background: radial-gradient(41.33% 41.33% at 50% 50%,#00fb9f 0,rgba(196, 255, 238, 0) 100%);
  border: 1px solid var(--text);
  padding: 20px 20px;
  border-radius: 4px;
  font-weight: 800;

}

.email-link {

  text-decoration: none;
  color: var(--text);
  font-weight: 500;

}

/* All Project Pages */

.full-width {

  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;

}


.full-width img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
}


.header-background-project {

  background-image: radial-gradient(circle, yellow, transparent, transparent, transparent);
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: -1;
  left: 10%;
  top: 10%;

}

@media only screen and (max-width: 1309px) {

  .contact {

    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;

  }

}

@media only screen and (max-width: 768px) {


  
  .nav-links {
    
    position: fixed;
    top: -110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: 1s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;

    }

  .active {
        top: 0;
        right: 0;
    }

  .burger {

      display: flex;
      justify-content: center;
      background-color: var(--background);
      border: 0px solid var(--text);
      padding: 20px;
      justify-content: flex-end;
      margin: 0;

    }

  .social-media-links {

    display: none;

    }

  .nav-links .close {

    display:contents;
    border: 0px transparent;
    margin-bottom: 30px;
    width: 20%;

    }

  .close:hover {
    font-weight: 900;
    color: #00fb9f;
  }

  header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 40vh;

  }

  .half {
    height: 20vh;
  }

  .header-background {

    background-image: radial-gradient(circle, yellow, transparent, transparent);
    height: 50%;
    width: 50%;
    position: block;
    z-index: -1;
    left: 10%;

  }

  #hello {
    font-size: 1.7rem;
    padding: 0px;


  }

  #first-name {
    padding: 0px;


  }


  
  #description {
    font-size: 1.7rem;
    padding: 0px;

  }

  h1 {

    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 5rem;

  }

  h2 {

    font-size: 3em;

  }

  h3 {

    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    font-size: 1.5rem;

  }

  p {

    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;

  }

  .portfolio-projects {

    display: flex;
    align-items: center;
    justify-content: center;

  }

  #featured {

    text-align: center;
    align-content: center;

  }

  .container {
    margin: 0;
  }

  .contact {

    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;

  }

  .footer {
    display: none;
  }


/* about page */

.text-container {

display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
height: 100%;
margin-top: 30px;
margin-bottom: 30px;
  
}

.header-background-about {

  background-image: radial-gradient(circle, yellow, transparent, transparent);
  height: 100%;
  width: 100%;
  position: block;
  z-index: -1;
  left: 20%;
  top: 20%

}

/* All Project Pages */

.full-width {

  width: 100%;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;

}


.full-width img {
  width: 100%;
  height: 500px;
  object-fit: contain;

}

.content {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 10;
  padding-bottom: 20px;

}



.header-background-project {

  background-image: radial-gradient(circle, yellow, transparent, transparent, transparent);
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: -1;
  left: 10%;
  top: 10%;

}


}

